In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark basic example") \
    .master("local[*]") \
    .getOrCreate()

In [2]:
df_student = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/univ") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "student") \
    .option("user", "root").option("password", "ga2006321111").load()

In [3]:
df_student

DataFrame[ID: string, name: string, dept_name: string, tot_cred: decimal(3,0)]

In [4]:
df_student.show(5)

+-----+-------+---------+--------+
|   ID|   name|dept_name|tot_cred|
+-----+-------+---------+--------+
|00128|  Zhang|     CMPE|     102|
|12345|Shankar|     CMPE|      32|
|19991| Brandt|  History|      80|
|23121| Chavez|  Finance|     110|
|44553|Peltier|  Physics|      56|
+-----+-------+---------+--------+
only showing top 5 rows

In [5]:
df_takes = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/univ") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "takes") \
    .option("user", "root").option("password", "ga2006321111").load()

In [6]:
df_takes.show()

+-----+---------+------+--------+----+-----+
|   ID|course_id|sec_id|semester|year|grade|
+-----+---------+------+--------+----+-----+
|00128| CMPE-101|     1|    Fall|2009|    A|
|00128| CMPE-347|     1|    Fall|2009|   A-|
|12345| CMPE-101|     1|    Fall|2009|    C|
|12345| CMPE-190|     2|  Spring|2009|    A|
|12345| CMPE-315|     1|  Spring|2010|    A|
|12345| CMPE-347|     1|    Fall|2009|    A|
|19991|  HIS-351|     1|  Spring|2010|    B|
|23121|  FIN-201|     1|  Spring|2010|   C+|
|44553|  PHY-101|     1|    Fall|2009|   B-|
|45678| CMPE-101|     1|    Fall|2009|    F|
|45678| CMPE-101|     1|  Spring|2010|   B+|
|45678| CMPE-319|     1|  Spring|2010|    B|
|54321| CMPE-101|     1|    Fall|2009|   A-|
|54321| CMPE-190|     2|  Spring|2009|   B+|
|55739|   MU-199|     1|  Spring|2010|   A-|
|76543| CMPE-101|     1|    Fall|2009|    A|
|76543| CMPE-319|     2|  Spring|2010|    A|
|76653|   EE-181|     1|  Spring|2009|    C|
|98765| CMPE-101|     1|    Fall|2009|   C-|
|98765| CMPE-315|     1|  Spring|2010|    B|
+-----+---------+------+--------+----+-----+
only showing top 20 rows

In [7]:
df_takes.where(df_takes['course_id'] == 'CMPE-101').show()

+-----+---------+------+--------+----+-----+
|   ID|course_id|sec_id|semester|year|grade|
+-----+---------+------+--------+----+-----+
|00128| CMPE-101|     1|    Fall|2009|    A|
|12345| CMPE-101|     1|    Fall|2009|    C|
|45678| CMPE-101|     1|    Fall|2009|    F|
|54321| CMPE-101|     1|    Fall|2009|   A-|
|76543| CMPE-101|     1|    Fall|2009|    A|
|98765| CMPE-101|     1|    Fall|2009|   C-|
|45678| CMPE-101|     1|  Spring|2010|   B+|
+-----+---------+------+--------+----+-----+

In [8]:
type(df_student)

pyspark.sql.dataframe.DataFrame

In [9]:
df_student.join(df_takes, on=['ID']).where(df_takes['year'] > 2009).show()

+-----+--------+----------+--------+---------+------+--------+----+-----+
|   ID|    name| dept_name|tot_cred|course_id|sec_id|semester|year|grade|
+-----+--------+----------+--------+---------+------+--------+----+-----+
|98988|  Tanaka|   Biology|     120|  BIO-301|     1|  Summer|2010| null|
|23121|  Chavez|   Finance|     110|  FIN-201|     1|  Spring|2010|   C+|
|76543|   Brown|      CMPE|      58| CMPE-319|     2|  Spring|2010|    A|
|55739| Sanchez|      CMPE|      38|   MU-199|     1|  Spring|2010|   A-|
|12345| Shankar|      CMPE|      32| CMPE-315|     1|  Spring|2010|    A|
|98765|Bourikas|Elec. Eng.|      98| CMPE-315|     1|  Spring|2010|    B|
|19991|  Brandt|   History|      80|  HIS-351|     1|  Spring|2010|    B|
|45678|    Levy|   Physics|      46| CMPE-101|     1|  Spring|2010|   B+|
|45678|    Levy|   Physics|      46| CMPE-319|     1|  Spring|2010|    B|
+-----+--------+----------+--------+---------+------+--------+----+-----+