In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark basic example") \
    .master("local[*]") \
    .getOrCreate()

In [2]:
df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/test") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "hugeTable") \
    .option("user", "root").option("password", "ga2006321111").load()

In [3]:
df.show(5)

+--------------------+-------+-----------+------+
|         idhugeTable|   name|onboardDate|Salary|
+--------------------+-------+-----------+------+
|000077b5-7606-443...|Yolanda| 2019-12-15| 20000|
|0000c3ea-0bbd-409...|Yolanda| 2009-04-30| 32000|
|00012d65-1cea-4e5...|Yolanda| 2015-09-30| 28000|
|0001fff9-ab85-420...|    Kim| 2019-05-18| 29000|
|0002130a-284d-4ef...|    Kim| 2013-09-30| 20000|
+--------------------+-------+-----------+------+
only showing top 5 rows

In [4]:
df_dest = df.select('name', 'Salary')

In [7]:
df_dest.show(5)

+-------+------+
|   name|Salary|
+-------+------+
|Yolanda| 20000|
|Yolanda| 32000|
|Yolanda| 28000|
|    Kim| 29000|
|    Kim| 20000|
+-------+------+
only showing top 5 rows

**write data into database**

In [5]:
# df_dest.write.format('jdbc').options(
#       url='jdbc:mysql://localhost/test',
#       driver='com.mysql.jdbc.Driver',
#       dbtable='dest',
#       user='root',
#       password='ga2006321111').mode('append').save()